// fonts
$font: 'Raleway', sans-serif;
$font-numbers: 'Kanit', sans-serif; 


// backgrounds
$purple-bg: linear-gradient(to right, #6A82FB, #FC5C7D);
$transparent-bg: transparent;
$white-bg: #fff;
$orange-bg: #f9a70e;
$grey-bg: #b1a6a6;
$lightgrey-bg: #e7e2e2;
$black-bg: #252323;
$blue-bg: #1616c0;
$red-bg: #b31313;
$black: #000;

// text 
$black-text: #252323;
$white-text: #fff;
$grey-text: #b1a6a6;
$blue-text: #1616c0;
$orange-text: #f9a70e;
$transparent-text: transparent;
$red-text: #b31313;

// borders 
$white-border: #ddd;
$black-border: #252323;
$grey-border: #b1a6a6;
$lightgrey-border: #e7e2e2;
$orange-border: #f9a70e;
$blue-border: #1616c0;
$red-border: #b31313;

// gutters 
$gutter: 2.5rem;